@import 'button';
@import 'config';
@import 'utils';

* {
  box-sizing: border-box;
  @include reset-pm();
}
body {
  background-color: $primary-color;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: $secodary-color;
  text-decoration: none;
}
h2 {
  font-weight: bolder;
  font-size: size(5);
}
h3 {
  font-weight: lighter;
  font-size: size(3);
}
img{
    width: 80%;
}
.container {
  
  background-image: url(/assets/2.svg);
  background-color: white;
  margin: 10rem auto ;
  width: 90%;
  padding: 5rem;
  box-shadow: 0 0 2rem 0.2rem rgba(0, 0, 0, 0.1);
  background-size:cover;
}

.rotar{
  &:hover{
    position: relative;
    transform: rotate(10deg);
    top: 2rem;
        
  }
}
ul {
  @include reset-pm();
  display: flex;
  gap: 2rem;
  list-style: none;

  li {
    a {
      @include btn($terciary-color,$fond-color ,'yes' );
      &:hover{
        @include btn($fond-color, $terciary-color,'no' );
        box-shadow: $box-shadow;
      }
    }
    
  }
}

header{
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}

